@media (min-width: 668px) and (max-width: 991px) {
    /** Home (Accueil) **/
    .section .layer {
        position: absolute;
        z-index: 4;
        width: 100%;
        height: calc(100vh - 61px);
        left: 0;
        top: 0;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .accroche_accueil{
        width: 450px;
        font-size: 35px;
        color: #ffffff;
        margin:auto;
        text-align:left;
        letter-spacing: 5px;
        line-height: 35px;
        margin-top: calc(50vh - 100px);
        botrder: 1px solid red;
    }

    .logo_peron_home{
        position: fixed;
        width: 170px;
        height: 33px;
        top: calc(50vh - 16px);
        z-index: 9999;
        right: 30px;
        background-image: url(pic/logo_peron_170_33.png);
        background-size: contain;
        background-position: center center;
    }

    #logo_peron_menu{
        position: fixed;
        width: 68px;
        height: 18px;
        top: calc(50vh - 9px);
        z-index: 9999;
        left: 30px;
        cursor: pointer;
        background-image: url(pic/menu_peron_full_68_18.png);
        background-size: contain;
        background-position: center center;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }

    .adresse_peron{
        position: fixed;
        width: 350px;
        height: 40px;
        top: calc(100vh - 30px);
        z-index: 9999;
        left: 30px;
        font-size: 12px;
        color: #ffffff;
        font-family: netto;
        white-space: nowrap;
        letter-spacing: 1.3px;
    }

    .adresse_peron a b{
        font-family: netto;
        text-decoration: underline;
        color: #ffffff;
    }

    .adresse_peron a{
        color: #ffffff;
    }

    .social_peron{
        position: fixed;
        width: 291px;
        height: 25px;
        top: calc(100vh - 35px);
        z-index: 9999;
        right: 30px;
        white-space: nowrap;
        font-size: 15px;
        color: #ffffff;
        text-align:right;
    }

    .social_peron a {
        color: #ffffff;
    }

    .social a b {
        font-family: netto_bold;
    }
    .reservation_retina{
        margin-right: 10px;
        width: 23px;
        height: auto;
    }

    .facebook_retina{
        margin-left: 10px;
        margin-right: 10px;
        width: 16px;
        height: auto;
    }

    .instagram_retina{
        width: 21px;
        height: auto;
    }

    .nav_verticale_accueil{
        position: absolute;
        z-index: 4;
        width: 25px;
        height: 70px;
        top: calc(100vh - 85px);
        left: calc(50vw - 12px);
        text-align:center;
    }
    .chiffre_page_navigation{
        font-size: 20px;
    }
    .nav_verticale{
        width: 25px;
        height: 41px;
        margin: auto;
        text-align:center;
        position: relative;
        top: calc(50vh - 195px);
    }
    .nav_verticale_full_text{
        width: 25px;
        height: 100px;
        margin: auto;
        text-align:center;
    }
    .nav_verticale_full_text_video{
        width: 25px;
        height: 100px;
        margin: auto;
        text-align:center;
    }

    /** Gestion Cadre Texte **/
    .cadre_text{
        width: 300px;
        height: calc(100vh - 61px);
        background-color: none;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        margin:auto;
        padding-top: calc(50vh - 105px);
        z-index:4;
    }

    .cadre_text_with_video{
        width: 300px;
        height: calc(100vh - 61px);
        top:-100vh ;
        background-color: none;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        margin:auto;
        position:relative;
        padding-top: calc(50vh - 105px);
        z-index:4;
    }

    .zone_contenu_text{
        float: left;
        width:200px;
        height: 210px;
        background-color:rgba(255, 255, 255, 0.85);
    }

    .zone_contenu_text_no_img{
        float: left;
        width:300px;
        height: 210px;
        background-color:rgba(255, 255, 255, 0.85);
    }

    .zone_contenu_image{
        float:left;
        width: 100px;
        height: 210px;
        background-size: cover;
        background-position: center center;
        opacity: 10%;

    }

    .zone_num_page{
        font-family: netto_bold;
        color: #000000;
        font-size: 30px;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        text-align:right;
    }

    .titre_page{
        color: #000000;
        font-size: 15px;
        text-align:left;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
        letter-spacing: 2px;
    }

    .contenu_page{
        color: #000000;
        font-size: 10px;
        text-align:left;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 5px;
        text-align: justify;
        line-height:12px;
        overflow: hidden;
        height: 110px;
        letter-spacing: 1.3px;
    }

    /** Template Full Texte **/
    .cadre_full_text{
        width: 480px;
        height: 100vh;
        margin:auto;
        background-color: none;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .cadre_full_text_with_video{
        width: 480px;
        height: 100vh;
        top:-100vh ;
        margin:auto;
        background-color: none;
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        position:relative;
        z-index:4;
    }

    .titre_page_full_text{
        color: #ffffff;
        font-size: 15px;
        text-align:left;
        letter-spacing: 2px;
    }

    .zone_contenu_full_text{
        width: 480px;
        height: calc(100vh - 140px);
        margin-top: 50px;
    }

    .contenu_page_full_text h2{
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 1.5px;
    }
    .contenu_page_full_text div{
        width: 480px;
        letter-spacing: 1.1px;
    }
    .contenu_page_full_text div div{
        width: 60px;
        text-align: right;
        float:right;
        letter-spacing: 1.1px;
    }

    .contenu_page_full_text{
        color: #ffffff;
        font-size: 9px;
        text-align:left;
        border-top: 1px solid #575860;
        border-bottom: 1px solid #575860;
        margin-top: 10px;
        padding-top: 5px;
        padding-bottom: 10px;
        text-align: justify;
        line-height:12px;
    }

    /** Gestion Affichage Video **/
    .myVideo{
        width: 100%;
        height: 100%;
        object-fit: cover; /*cover video background */
        overflow: hidden;
    }

    /** Gestion Affichage Menu **/
    #menu{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        display: none;
        z-index: 10001;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .zone_text_menu{
        float: right;
        width: 50vw;
        height: 100vh;
        background-color: rgba(0, 2, 16, 0.95);
    }

    .btn_close_menu {
        position: fixed;
        width: 120px;
        height: 25px;
        top: calc(50vh - 13px);
        z-index: 9999;
        left: 30px;
        cursor: pointer;
        background-image: url(pic/close_menu.png);
        background-size: contain;
        background-position: center center;
        cursor: pointer;
    }

    .ligne_menu_first{
        margin-left: 50px;
        margin-top: 70px;
    }

    .ligne_menu{
        margin-left: 50px;
        margin-top: 14px;
    }

    .chiffre_section{
        color: #ffffff;
        font-size: 16px;
    }

    .chiffre_page{
        color: #ffffff;
        font-size: 9px;
        margin-right: 30px;
    }

    .chiffre_page_up{
        color: #ffffff;
        font-size: 9px;
        margin-right: 30px;
        margin-left:5px;
        vertical-align:super;
    }

    .desc_section a, .desc_section a:hover{
        color: #ffffff;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
    }

    .accroche_menu_vertical{
        font-family: Times;
        font-style: italic;
        font-size: 13px;
        margin-top: 80px;
        margin-left: 50px;
        height: 150px;
        -webkit-writing-mode : vertical-rl;
        -ms-writing-mode : tb-rl ; /* ancien IE */
        -ms-writing-mode : vertical-rl;
        writing-mode : vertical-rl;
        letter-spacing: 1.4px;
    }

    .menu_nom{
        margin-top: -152px;
        margin-left: 100px;
        color: #ffffff;
        font-size: 14px;
        letter-spacing: 3px;
    }

    .menu_tel{
        margin-left: 100px;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 2px;
    }

    .menu_adresse_1{
        margin-left: 100px;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 2px;
        text-decoration: underline;
    }

    .menu_adresse_2{
        margin-left: 100px;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 2px;
    }

    .menu_gps{
        margin-left: 100px;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 2px;
    }
    .menu_gps a{
        color: #ffffff;
    }

    .menu_credit{
        margin-top: 45px;
        margin-left: 100px;
        font-size: 9px;
        letter-spacing: 1.5px;
    }

    .menu_credit span{
        background-color: #ffffff;
        color: #000000;
    }
    .menu_credit span a{
        color: #000000;
    }

    /** Formulaire de reservation **/
    #form_reservation{
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 10002;
        background-color: rgba(0, 0, 0, 1);
        background-image: url(pic/background_reservation.png);
        background-size: cover;
        background-position: center center;
    }

    .close_reservation{
        position: fixed;
        top: 30px;
        left: 30px;
        width: 120px;
        height: 19px;
        background-image: url(pic/close_reservation.png);
        background-size: contain;
        background-position: center center;
        cursor: pointer;
    }

    .zone_info_reservation{
        width: 400px;
        height: 600px;
        margin:auto;
        margin-top: 35px;
    }

    .titre_reservation{
        letter-spacing: 2.2px;
        color: #ffffff;
        font-size: 17px;
    }

    .text_input{
        color: #ffffff;
        font-size: 10px;
    }

    .hr_reservation{
        height: 2px;
        border-color: #3a3a43;
    }

    .zone_input_left{
        width:48%;
        font-size: 10px;
        float:left;
        margin-top: 6px;
        letter-spacing: 1.8px;
    }
    .zone_input_left input, .zone_input_left select{
        width:100%;
        border: 1px solid #2c2d34;
        background-color: rgba(0, 0, 0, 1);
        font-size: 10px;
        height: 25px;
        line-height: 25px;
        letter-spacing: 1.8px;
    }
    .zone_input_right{
        width:48%;
        font-size: 10px;
        float: right;
        margin-top: 6px;
        letter-spacing: 1.8px;
    }
    .zone_input_right input{
        width:100%;
        border: 1px solid #2c2d34;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 10px;
        height: 25px;
        line-height: 25px;
        letter-spacing: 1.8px;
    }
    .zone_input_full{
        width:100%;
        font-size: 10px;
        margin-top: 6px;
        letter-spacing: 1.8px;
    }
    .zone_input_full input{
        width:100%;
        border: 1px solid #2c2d34;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 10px;
        height: 25px;
        line-height: 25px;
        letter-spacing: 1.8px;
    }
    .zone_input_full textarea{
        width:100%;
        height: 65px;
        border: 1px solid #2c2d34;
        background-color: rgba(0, 0, 0, 0.1);
        font-size: 10px;
        line-height: 25px;
        letter-spacing: 1.8px;
    }
    .zone_valid{
        width: 48%;
        float: right;
        background-color: rgba(60, 61, 71, 1);
        cursor: pointer;
        text-align: center;
        height: 25px;
        line-height: 25px;
        font-size: 10px;
        letter-spacing: 1.8px;
    }
    .reservation_adresse{
        font-size: 12px;
        text-align: center;
        letter-spacing: 1.8px;
    }
    .reservation_gps_tel{
        font-size: 12px;
        text-align: center;
        letter-spacing: 1.8px;
    }
    .reservation_gps_tel a{
        text-decoration: none;
        color: #ffffff;
    }
    .div_show_info_message{
        position: absolute;
        top:75px;
        left: 50%;
        width: 400px;
        margin-left: -200px;
        border-radius: 5px;

        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3f49), color-stop(100%, #4b4c4d) );
        background-image: -webkit-linear-gradient(top, #3d3f49, #4b4c4d);
        background-image: -moz-linear-gradient(top, #3d3f49, #4b4c4d);
        background-image: -ms-linear-gradient(top, #3d3f49, #4b4c4d);
        background-image: -o-linear-gradient(top, #3d3f49, #4b4c4d);
        background-image: linear-gradient(top, #3d3f49, #4b4c4d);
        -pie-background: linear-gradient(#3d3f49, #4b4c4d);

        border: 1px solid #646464;
        box-shadow: 0px 0px 10px #222222;
        z-index: 9999;
        padding: 15px;
        text-align: center;
        font-size: 11px;
        letter-spacing: 2px;
        display: none;
    }
    .close_show_info{
        float: right;
        width: 25px;
        height: 29px;
        margin-top:-20px;
        margin-right:-20px;
        background-image: url(pic/x.png);
        cursor: pointer;
    }

    /** Fleche de navigation **/
    .fp-controlArrow.fp-prev {
        top: 60px;
        left: 30px;
        border: none;
        width: 49px;
        height: 15px;
        background: url(pic/prev.png) no-repeat;
        cursor: pointer;
    }
    .fp-controlArrow.fp-next {
        top: 60px;
        right: 30px;
        border: none;
        width: 49px;
        height: 15px;
        background: url(pic/next.png) no-repeat;
        cursor: pointer;
    }
    /** Sommaire **/
    ul.leaders {
        max-width: 100%;
        padding: 0;
        overflow-x: hidden;
        list-style: none;
    }
    ul.leaders li{
        margin-top: 0px;
        letter-spacing: 1.3px;
    }
    ul.leaders li:before {
        float: left;
        width: 0;
        white-space: nowrap;
        content: " ";
    }
    ul.leaders span:first-child {
        padding-right: 0.33em;
        background: none;
    }
    ul.leaders span + span {
        float: right;
        padding-left: 0.33em;
        background: none;
    }
}