#nav {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

#nav li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}

#nav a {
	display: block;
}

#nav ul {
	display: none;
	position: absolute;
	left: 0;
	margin: 0;
	padding: 0;
}

* html #nav ul {
	line-height: 0;
}  /* IE6 "fix" */
#nav ul a {
	zoom: 1;
}  /* IE6/7 fix */
#nav ul li {
	float: none;
}

#nav ul ul {
	top: 0;
}

#nav ul {
	width: 100%;
}

#nav {
	height: 25px;
}

#nav * :hover {
	background-color: none;
}

#nav li a {
	width: 80px;
	height: 23px;
	color: white;
	font-size: 12px;
	text-decoration: none;
	text-align: left;
	padding-top: 10px;
}

#nav li.hover a.menu {
}

#nav li.active_title a.menu {
}

#nav li ul li a {
	text-align: left;
	width: 180px;
	height: 15px;
	background: none;
}

#nav li ul li a.hover {
	color: #cccccc;
}

#nav ul {
	top: 32px;
	left: -5px;
	padding: 5px;
	background: none;
	background-color: #262626;
	border-left: 1px solid #464646;
	border-bottom: 1px solid #464646;
	border-right: 1px solid #464646;
}

#nav ul a {
	background: none;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}
/* #nav ul a { border-bottom: none; } - I also needed this for IE6/7 */